<%- include("layout/header.ejs") %>
    <div class="container" style="border:2px solid red">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 mb-3">
                <div class="event-card">
                    <div class="evt-img-box">
                        <img src="/images/uploads/event1.jpg" alt="event-img" class="evt-img">
                    </div>
                    <div class="">
                        <h4 class="evt-title">Arts n Women</h4>
                        <div class="d-flex">
                            <img alt="" class="calendar" src="/assets/images/icons/headphones.svg" />
                            <h6 class="evt-date">Wed, Mar 20, 2024</h6>
                        </div>
                        <h4 class="evt-price">₦2,000.00 - ₦200000.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 mb-3">
                <div class="event-card">
                    <div class="evt-img-box">
                        <img src="/images/uploads/event1.jpg" alt="event-img" class="evt-img">
                    </div>
                    <div class="">
                        <h4 class="evt-title">Arts n Women</h4>
                        <div class="d-flex">
                            <img alt="" class="calendar" src="/assets/images/icons/headphones.svg" />
                            <h6 class="evt-date">Wed, Mar 20, 2024</h6>
                        </div>
                        <h4 class="evt-price">2,000.00 - 200000.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 mb-3">
                <div class="event-card">
                    <div class="evt-img-box">
                        <img src="/images/uploads/event1.jpg" alt="event-img" class="evt-img">
                    </div>
                    <div class="">
                        <h4 class="evt-title">Arts n Women</h4>
                        <div class="d-flex">
                            <img alt="" class="calendar" src="/assets/images/icons/headphones.svg" />
                            <h6 class="evt-date">Wed, Mar 20, 2024</h6>
                        </div>
                        <h4 class="evt-price">2,000.00 - 200000.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5 mb-3">
                <div class="event-card">
                    <div class="evt-img-box">
                        <img src="/images/uploads/event1.jpg" alt="event-img" class="evt-img">
                    </div>
                    <div class="">
                        <h4 class="evt-title">Arts n Women</h4>
                        <div class="d-flex">
                            <img alt="" class="calendar" src="/assets/images/icons/headphones.svg" />
                            <h6 class="evt-date">Wed, Mar 20, 2024</h6>
                        </div>
                        <h4 class="evt-price">2,000.00 - 200000.00</h4>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
<%- include("layout/footer.ejs") %>