<%- include("layout/header.ejs") %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column align-items-center justify-content-center" 
                style="height:100vh">
                    <img src="/assets/images/icons/bill.svg" alt="" style="width:60px;height:100px;margin-bottom:20px">
                    <h5>Success!</h5>
                    <p>Your order was successful. We've sent a copy to your email address <span class="text-primary">ituaosemeilu234@gmail.com</span></p>
                    <p>If you do not receive your ticket from us, please email us at <span class="text-primary">support@campusticket.africa</span></p>
                    <div class="mt-3">
                        <a href="" class="btn btn-primary" download>Download</a>
                        <a href="" class="btn btn-secondary">Buy again</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/axios/axios.js"></script>
    <script>
        let token = $("meta[name='csrf-token']").attr("content");
        let baseUrl = $("meta[name='base-url']").attr("content");
    </script>
</body>
</html>