<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<base href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="base-url" content="<%= baseUrl %>">
	<meta name="csrf-token" content="<%= baseUrl %>">
	<meta name="theme-color" content="" />
    <meta name="apple-mobile-web-app-status-bar-style" content="" />

	<title>sh hires</title>
	<link rel="shortcut icon" type="image/png" href="/assets/images/logos/favicon.png" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/icon-font.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.css" />
	<link rel="stylesheet" href="/assets/css/util.css" />
	<link rel="stylesheet" href="/assets/css/main-app.css" />
</head>
<body>
	<div style="height:60px;border:2px solid black;padding:0 15px" class="d-flex align-items-center justify-content-between">
		<span></span>
		<a href="" class="btn btn-primary">Create event</a>
	</div>