<section class="bg-dark-footer">
    <div class="container-fluid p-t-40 p-b-40">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <h6 class="text-white">Shop departments</h6>
                <ul class="widget-list list-unstyled">
                <li class="widget-list-item"><a class="widget-list-link" href="#">Sneakers &amp; Athletic</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Athletic Apparel</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Sandals</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Jeans</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Shirts &amp; Tops</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Shorts</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">T-Shirts</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Swimwear</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Clogs &amp; Mules</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Bags &amp; Wallets</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Accessories</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Sunglasses &amp; Eyewear</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Watches</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                <h6 class="text-white">Account &amp; shipping info</h6>
                <ul class="widget-list list-unstyled">
                <li class="widget-list-item"><a class="widget-list-link" href="#">Your account</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Shipping rates &amp; policies</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Refunds &amp; replacements</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Order tracking</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Delivery info</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Taxes &amp; fees</a></li>
                </ul>
                <h6 class="text-white">About us</h6>
                <ul class="widget-list list-unstyled">
                <li class="widget-list-item"><a class="widget-list-link" href="#">About company</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Our team</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">Careers</a></li>
                <li class="widget-list-item"><a class="widget-list-link" href="#">News</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-white m-b-15">Stay informed</h6>
                <form class="newsletter container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-8 col-md-6">
                            <input 
                            type="email" 
                            name="email"
                            class="w-full h-full rounded-start form-control" 
                            placeholder="Your email" />
                        </div>
                        <div class="col-4 col-md-6 pos-relative">
                            <button type="submit" 
                            class="btn btn-primary rounded-end w-full" 
                            name="subscribe">Subscribe*</button>
                            <div class="newsletter-animation pos-absolute rounded-end">
                                <div class="wave"></div>
                                <div class="wave"></div>
                                <div class="wave"></div>
                                <div class="wave"></div>
                                <div class="wave"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="text-white fs-12 p-t-5 op-05">*Subscribe to our newsleter to receive early discount offers, updates and new products info.</p>
                <p class="newsletter-message newsletter-success-message"></p>
                <p class="newsletter-message newsletter-error-message"></p>
            </div>
        </div>
    </div>
</section>
<section class="bg-darker container-fluid p-t-50 p-b-30">
    <div class="">
        <div class="row">
            <div class="d-flex col-sm-6 col-lg-3 col-xl-3 col-md-3">
                <span class="media"><img alt="" class="w-h-30 m-r-15" src="/assets/images/icons/startup.svg" /></span>
                <div class="media-body">
                <h6 class="text-white">Fast and free delivery</h6>
                <p class="text-white op-05 fs-12">Free delivery for all orders over $200</p>
                </div>
            </div>
            <div class="d-flex col-sm-6 col-lg-3 col-xl-3 col-md-3">
                <span class="media"><img alt="" class="w-h-30 m-r-15" src="/assets/images/icons/bill.svg" /></span>
                <div class="media-body">
                <h6 class="text-white">Money back guarantee</h6>
                <p class="text-white op-05 fs-12">We return money within 30days</p>
                </div>
            </div>
            <div class="d-flex col-sm-6 col-lg-3 col-xl-3 col-md-3">
                <span class="media"><img alt="" class="w-h-30 m-r-15" src="/assets/images/icons/headphones.svg" /></span>
                <div class="media-body">
                <h6 class="text-white">24/7 customer support</h6>
                <p class="text-white op-05 fs-12">Friendly 24/7 customer support</p>
                </div>
            </div>
            <div class="d-flex col-sm-6 col-lg-3 col-xl-3 col-md-3">
                <span class="media"><img alt="" class="w-h-30 m-r-15" src="/assets/images/icons/credit-card.svg" /></span>
                <div class="media-body">
                <h6 class="text-white">Secure online payment</h6>
                <p class="text-white op-05 fs-12">We possess SSL / Secure certificate</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-white fs-12 op-05 m-t-40">© All rights reserved. Made by <a class="" href="https://createx.studio/">Createx Studio</a></p>
</section>

</body>
</html>